@page
@model TopGameReview.Pages.TopFreeGame_Pages.Survival.FreeShootingGames_Page_1
@{
    ViewData["Title"] = "FreeShootingGames_Page_1";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h1>Welcome to Shooting</h1>
    @{
        int length = 10;

        @for (int i = 0; i <= length; i++)
        {
            <p>Hello World! @i</p>
        }
    }
</div>