.welcome-txt {
    text-align: center;
    margin: 3rem;
    font-size: 36pt;
}
.block {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
img {
    border-radius: 2.5rem;
}
.descriptions a {
    margin-left: 2rem;
    font-size: 20pt;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.descriptions p {
    color: black;
    margin-left: 2rem;
    margin-top: 1.5rem;
    font-size: 13pt;
}
